<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('shipment_mailer.dropped_off_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.dropped_off_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.shipment_summary') %>
      </p>
      <table>
        <% @shipment.manifest.each do |item| %>
          <tr>
            <td><%= item.variant.sku %></td>
            <td><%= item.variant.product.name %></td>
            <td><%= item.variant.options_text %></td>
          </tr>
        <% end %>
      </table>
      <p>
        <%= t('order_mailer.confirm_email.pickup', pickup_date: @shipment.order.date_str(:pickup), pickup_low: @shipment.order.time_low(:pickup), pickup_high: @shipment.order.time_high(:pickup)) %>
      </p>
      <p>
        <%= t('order_mailer.confirm_email.dropoff', dropoff_date: @shipment.order.date_str(:dropoff), dropoff_low: @shipment.order.time_low(:dropoff), dropoff_high: @shipment.order.time_high(:dropoff)) %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.dropped_off_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
