<table>
  <tr>
    <h1>
      <%= Spree.t('shipment_mailer.picked_up_email.greeting') %>
    </h1>
  </tr>
  <tr>
    <p></p>
  </tr>
  <tr>
    <td>
      <p>
        <%= Spree.t('shipment_mailer.picked_up_email.free_time') %>
      </p>
      <p class="lede"><%= Spree.t('shipment_mailer.picked_up_email.order_summary') %></p>
      <table>
        <% @shipment.manifest.each do |item| %>
          <td><%= "#{item.variant.product.name} #{item.variant.options_text}" %></td>
        <% end %>
      </table>
      <p class='lede'>
        <%= Spree.t('shipment_mailer.picked_up_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.picked_up_email.dropoff_time', dropoff_date: @shipment.order.date_str(:dropoff), dropoff_low: @shipment.order.time_low(:dropoff), dropoff_high: @shipment.order.time_high(:dropoff)) %>
      </p>
      <p></p>
      <p>
        <%= Spree.t('shipment_mailer.picked_up_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
